:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);

  --clr-transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --clr-very-light-gray-bg-headings-buttons: hsl(0, 0%, 95%);

  --ff-big-shoulder: "Big Shoulders Display", sans-serif;
  --ff-lexend: "Lexend Deca", sans-serif;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  display: grid;
  place-items: center;
  font-family: var(--ff-lexend);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  border-radius: 0.5em;
  overflow: hidden; /*so that I can see the border-radius*/
  display: flex;
  flex-direction: column;
}
.cards {
  color: var(--clr-transparent-white-p);
  padding: 3em 2.5em;
  max-width: 300px;
}
img {
  max-width: 20%;
}
h1 {
  font-family: var(--ff-big-shoulder);
  text-transform: uppercase;
  color: var(--clr-very-light-gray-bg-headings-buttons);
  margin-block: 1em;
}
.card__1 {
  background-color: var(--clr-bright-orange);
}
.card__2 {
  background-color: var(--clr-dark-cyan);
}
.card__3 {
  background-color: var(--clr-very-dark-cyan);
}
button {
  font-family: var(--ff-lexend);
  width: 50%;
  padding: 1em;
  border-radius: 100px;
  border: none;
  margin-top: 1.5em;
}
button:hover {
  cursor: pointer;
  border: 1pt white solid;
}
.card__1 button:hover {
  background-color: var(--clr-bright-orange);
  color: var(--clr-transparent-white-p);
}
.card__2 button:hover {
  background-color: var(--clr-dark-cyan);
  color: var(--clr-transparent-white-p);
}
.card__3 button:hover {
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-transparent-white-p);
}
.card__1 button {
  color: var(--clr-bright-orange);
}
.card__2 button {
  color: var(--clr-dark-cyan);
}
.card__3 button {
  color: var(--clr-very-dark-cyan);
}
p {
  line-height: 1.6;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 568px) {
  .container {
    flex-direction: row;
    max-width: 845px;
  }
  button {
    margin-top: 5em;
    width: 75%;
  }
}
